body
{
	background-color: RGBA(135, 206, 235, 1);
}

h1
{
	text-align: center;
}

#container
{
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	background-color: RGBA(135, 206, 235, 1);
}

#outer
{
	display: flex;
	flex-direction: column;
	align-content: center;
}

#contents
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
	margin-right: 80px;
}

/*
.text-block
{
	width: 50em;
}
*/

/*Strip the ul of padding and list styling*/
.nav-list
{
    list-style-type:none;
    margin:0;
    padding:0;
    text-align: center;
}

/*Create a horizontal list with spacing*/
.nav-element
{
    display:inline-block;
    margin-left: 20px;
    margin-right: 60px;
}

.nav-element a 
{
    display:inline-block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: RGBA(60, 80, 255, 1);
    text-decoration: none;
}

/*Hover state for top level links*/
.nav-element a:hover 
{
    background: RGBA(15, 20, 150, 1);
}


.screenreader-text 
{
	position: absolute;
	left: -999px;
	width: 1px;
	height: 1px;
	top: auto;
}

.screenreader-text:focus 
{
	color: black;
	border: none;
	display: inline-block;
	height: auto;
	width: auto;
	position: static;
	margin: auto;
}

