<!DOCTYPE html>
<html lang="en">
<head>
m4_include(header.snippet)
    <title>MCHC </title>
</head>
<body>
    <a id='skip-nav' class='screenreader-text' href='#contents'>
      Skip to Content
    </a>

    <div id="container">
        <h1>More Co-op Housing Collective</h1>

<!---------------------------Navigation------------------------------------------>

m4_include(nav.html)

<!------------------------------------------------------------------------------->


<!---------------------------Contents-------------------------------------------->

        <div id="contents">

        </div>

<!------------------------------------------------------------------------------->

    </div>
</body>
</html>

