<!DOCTYPE html>
<html lang="en">
<head>
m4_include(header.snippet)
    <title>MCHC Main</title>
</head>
<body>
    <a id='skip-nav' class='screenreader-text' href='#contents'>
      Skip to Content
    </a>

    <div id="container">
        <h1>More Co-op Housing Collective</h1>

<!---------------------------Navigation------------------------------------------>

m4_include(nav.snippet)

<!------------------------------------------------------------------------------->


<!---------------------------Contents-------------------------------------------->

        <div id="contents">
            <h2>Who We Are</h2>

            <div>
                We are the co-op kids.
            </div>

            <h2>What We Do</h2>

            <div>
                We promote and build co-ops.
            </div>
        </div>
<!------------------------------------------------------------------------------->

    </div>
</body>
</html>

